.affiliate-program {
    background: $bg url(../img/affiliate-program/2.svg) no-repeat;
    background-position: right -220px bottom 100px;
}

.affiliate-program__inner {
    display: flex;
}

.affiliate-program__img {
    width: 100%;
    max-width: 379px;
    margin-right: 100px;
    position: relative;
}

.affiliate-program__img-text {
    width: 205px;
    height: 225px;
    background-color: $accent;
    position: absolute;
    right: 0;
    bottom: -47px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        color: #fefefe;
        font-family: $FuturaDemi;
        font-size: 28px;
        line-height: 36.4px;

        &:first-child {
            padding-bottom: 20px;
            border-bottom: 1px solid #fefefe;
        }

        &:last-child {
            padding-top: 20px;
        }
    }
}

.affiliate-program__text {
    width: 100%;
    max-width: 543px;
    display: flex;
    flex-direction: column;
}

.affiliate-program__text-title {
    color: $accent;
    font-family: $FuturaDemi;
    font-size: 32px;
    line-height: 41.6px;
    margin: 20px 0;
}

.affiliate-program__text-subtitle {
    font-size: 18px;
    line-height: 23.4px;
    margin-bottom: 60px;
}

.affiliate-program__text-btn {
    margin-left: auto;
}