
@font-face {
	font-family: 'Conv_FuturaBookCTT';
	src: url('../fonts/FuturaBookCTT.eot');
	src: local('☺'), url('../fonts/FuturaBookCTT.woff') format('woff'),
	 url('../fonts/FuturaBookCTT.ttf') format('truetype'),
	  url('../fonts/FuturaBookCTT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaDemiCTT';
	src: url('../fonts/FuturaDemiCTT.eot');
	src: local('☺'), url('../fonts/FuturaDemiCTT.woff') format('woff'),
	 url('../fonts/FuturaDemiCTT.ttf') format('truetype'), 
	 url('../fonts/FuturaDemiCTT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

